* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: "Open Sans", sans-serif;
}

.nav-logo {
	position: sticky top;
	padding: 8rem;
	list-style-type: none;
	display: inline;
	margin-top: 5rem;

}

nav {
	/*padding: 3px;
	padding-left: 8%;
	padding-right: 8%;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
	box-shadow: 0 2px 3px rgb(0 0 0 /10%);*/
}


/*.nav-logo1 {
	position: fixed;
}*/

.right-nav, .tuitt-button {
	position: sticky;

	display: inline;
}


.tuitt-button, .apply-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 0.5rem;
	padding: 0.5rem;
	border-radius: 15px;
	border-color: white;
}

.container{
	min-height: 15rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 75% 50%;
	display: inline-block;
	background-attachment: fixed;
	font-size: 5em;
	line-height: 3em;
}

.apply-button {
	float: right;
}

 .front-bg {
 	background-color: black;
 	opacity: 0.9;
}



.title {
	color: black;
	font-size: 40px;
	text-align: right;
	margin-left: 50%;
	line-height: 2rem;
	margin-right: 5%;
}

.subtitle {
	color: black;
	font-size: 20px;
	text-align: right;
	margin-left: 50%;
	line-height: 2rem;
	margin-right: 5%;
}

.title, .title-2{
	font-family: "Zilla Slab", monospace;
}

.title-2 {
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 2.5rem;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;

}

.prefooter-description {
	margin-bottom: 1rem;
}

.book-button {
	background-color: #336589;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

}

	#intro {
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 2rem;
		padding-bottom: 3rem;
		text-align: center;
	}

	.intro-description {
		margin-top: 1rem;
	}

footer {
	text-align: center!important;
	padding: 0.7rem;
}


nav .nav, nav-logo {
	margin:  0.5rem;
	display: inline;
}

